.nav-bar {
    display: flex;
    width: 100%;
    background: black;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 175px;
    height: 50px;
    padding: 5px;
}

.nav-menu {
    display: flex;
    justify-content: left;
    align-items: center;
}

.tab {
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.active {
    color: lightskyblue;
}

.unactive {
    color: white;
}

.login-item {
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.profile-nav {
    color: black;
    text-decoration: none;
}

.profile {
    padding-right: 15px;
    padding-left: 15px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    text-transform: capitalize;
}

.user-email {
    font-size: small;
    color: gray;
}
