.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about-text {
    padding: 20px;
    font-size:x-large;
    line-height: 1.5;
    width: 40%;
    text-align: center;
    border: solid lightgray;
    border-radius: 5px;
    background: white;
}

.about-header {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-bottom: solid lightgray;
    background: white;
}