body  {
    background: whitesmoke;
}

.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 450px;
    border-radius: 5px;
    padding: 10px;
    border: solid lightgray;
    background: white;
    box-shadow: 3px 3px 3px lightgray;
 }

.contact-header {
    font-weight: bolder;
    font-size: xx-large;
    background: white;
    border-bottom: solid lightgray;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.contact-label {
    font-size: small;
    padding-bottom: 5px;
}

.contact-name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid lightgray;
    padding-bottom: 10px;
}

.subject-padding {
    padding-top: 5px;
    padding-bottom: 10px;
}

.message-padding {
    padding-bottom: 10px;
}

.contact-text {
    background: whitesmoke;
}
