.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.slide-item {
    padding: 10px;
}

.entrenet-header {
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border-bottom: solid lightgray;
    background: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.vision-text {
    font-size: larger;
    color: black;
    text-align: center;
    text-indent: 10px;
    width: 800px;
    padding: 20px;
    line-height: 1.5;
}

.resource-button {
    border: solid black;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    background: lightblue;
}

.resource-button:hover {
    background: lightgray;
}
