.resource-page {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.resource-display {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 90vh;
    border-bottom: solid lightgray;
}

.resource-header {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: large;
    padding-top: 10px;
    width: 100%;
}

.resource-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.resource-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    border: solid lightgray;
    background: white;
    padding: 10px;
}

.resource-title {
    display: flex;
    justify-content: space-between;
    color: darkblue;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.resource-stats {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.resource-like, .resource-view {
    display: flex;
    align-items: center;
}

.resource-view {
    gap: 10px;
}

.resource-new {
    display: flex;
}

.resource-new-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.resource-backdrop {
    color: #ffff;
}

.resource-date {
    color: gray;
    font-weight: normal;
    font-size: small;
    font-style: italic;
}