.resource-page {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
}

.resource-title {
    color: black;
    font-weight: bolder;
}

.resource-desc {
    color: grey;
}

.resource {
    display: flex;
    flex-direction: column;
}