.editor {
    box-sizing: border-box;
    border: solid black;
    border-radius: 5px;
    margin: 50px auto;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 600px;
    width: 60%;
    background: white;
}