.editor {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid black;
    border-radius: 5px;
    height: 90%;
    width: 90%;
    background: white;
}

.ce-block__content,
.ce-toolbar__content {
    max-width: 85%;
}

.editor-box {
    overflow: scroll;
    scroll-behavior: smooth;
    color: black;
}

.editor-return {
    border-bottom: solid black;
}