.editor {
    box-sizing: border-box;
    border: solid black;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.editor-box {
    color: black;
    height: 100%;
}

.tox-tinymce {
    height: 100% !important;
}